.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid green;
    margin: 50px 200px;
  }
  
  .btn1 {
    padding: 10px 40px;
    background: gold;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }
  
  form {
    border: 3px solid green;
    border-radius: 20px;
    background: yellow;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .btn2 {
    padding: 5px 20px;
    border-radius: 10px;
    background: green;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .btn3 {
    padding: 10px 40px;
    border-radius: 10px;
    background: blue;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .display {
    padding: 20px 100px;
    background: black;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
  }